.single-container {
  padding-top: 8rem;
  padding-bottom: 8rem;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  max-width: 82.5rem;
  overflow: hidden;
  a {
    color: white;
    font-size: clamp(var(--min), var(--val), var(--max));
    --min: 1rem;
    --val: 1vw;
    --max: 1.125rem;
  }
  a:hover {
    color: #696969;
  }
  p {
    margin: 1rem 0rem;
  }
  h4 {
    margin: 1rem 0rem;
  }
  ul {
    padding-left: 0rem;
    margin-bottom: 0.5rem;
  }
  .labelTitle {
    text-transform: uppercase;
    font-family: "RobotoBold";
    font-size: clamp(var(--min), var(--val), var(--max));
    --min: 1rem;
    --val: 1vw;
    --max: 1.125rem;
    color: $darkrouge;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
      -1px -1px 0 #000;
  }
  .labelContent {
    font-size: clamp(var(--min), var(--val), var(--max));
    --min: 1rem;
    --val: 1vw;
    --max: 1.125rem;
    font-family: "RobotoMedium";
    text-transform: uppercase;
  }
  .um-clear {
    a.um-user-bookmarks-button.um-user-bookmarks-add-button {
      color: #d00019 !important;
      font-family: "ROBOTOBOLD" !important;
      margin: 1rem !important;
    }
  }
  #single-infos {
    padding: 1rem;
  }
  .col-md-9 {
    padding: 0rem 1rem;
  }
  #single-infos {
    background-image: url(../images/drips.svg);
    background-size: 40%;
    background-position-x: 117%;
    background-position-y: 35%;
    background-repeat: no-repeat;
  }
  .row.single-infos {
    background-image: url(../images/drips.svg);
    background-size: 40%;
    background-position-x: 117%;
    background-position-y: 35%;
    background-repeat: no-repeat;
    padding: 1rem;
  }
  .col-md-3.rounded {
    background-color: $rouge;
    margin: 0rem 1rem;
    font-family: "RobotoBold";
    a {
      padding-left: 0.5rem;
    }
  }
}

.um-user-bookmarks-modal-content {
  color: black !important;
  a.um-user-bookmarks-cancel-btn {
    color: #be1b17 !important;
  }
  button.um_user_bookmarks_create_folder_btn.um-modal-btn {
    background-color: #be1b17 !important;
  }
}

form#form-um-older-folder-bookmark {
  label.um-user-bookmarks-select-folder-label {
    color: black!important;
    font-size: 1rem!important;
    font-family: 'RobotoBold'!important;
  }
}
