#newtop10-container {
  .entry {
    margin: unset !important;
    margin-bottom: 0rem !important;
    margin-top: 0rem !important;
    padding: unset !important;
    display: block !important;
    background: none !important;
    border-radius: unset !important;
    max-width: 100% !important;
    justify-self: center !important;
    overflow: hidden !important;
    justify-content: unset !important;
    background-image: none !important;
    .entry-header {
      display: flex !important;
      flex-direction: column !important;
      justify-content: space-between !important;
      align-items: flex-start !important;
      max-height: 100vw !important;
      width: 100% !important;
      padding: 0rem 2rem !important;
      overflow: hidden !important;
    }
    .entry-content {
      color: white !important;
      width: 100% !important;
      padding: 0rem 1rem !important;
    }
    .entry-title {
      font-size: clamp(var(--min), var(--val), var(--max)) !important;
      --min: 1rem !important;
      --val: 2.4vw !important;
      --max: 2.8125rem !important;
      text-transform: uppercase !important;
      font-family: "RobotoBold" !important;
    }
    .entry-footer {
      display: block !important;
      padding: 0rem 4rem !important;
      text-align: center !important;
    }
    .edit-link {
      padding: 0.5rem 3rem !important;
      border-radius: 3px !important;
    }
  }
}

.button {
  background: #be1b17 !important;
  font-family: "RobotoBold" !important;
  padding: 0.5rem 3rem !important;
  border-radius: 3px !important;
}

.acf-input-wrap {
  color: black !important;
  font-family: "RobotoBold" !important;
}

ul.acf-checkbox-list.acf-bl {
  display: none !important;
}

.acf-field.acf-field-checkbox.acf-field-61e80f3f9f25b {
  display: none !important;
}

.acf-field input[type="text"],
.acf-field input[type="password"],
.acf-field input[type="date"],
.acf-field input[type="datetime"],
.acf-field input[type="datetime-local"],
.acf-field input[type="email"],
.acf-field input[type="month"],
.acf-field input[type="number"],
.acf-field input[type="search"],
.acf-field input[type="tel"],
.acf-field input[type="time"],
.acf-field input[type="url"],
.acf-field input[type="week"],
.acf-field textarea,
.acf-field select {
  border: 0px !important;
  border-radius: 1px !important;
}

input[type="text"] {
  color: black !important;
  font-family: "RobotoBold" !important;
}

.filter.-taxonomy {
  font-family: "RobotoBold" !important;
}

.acf-relationship {
  background: white;
  border: 0px !important;
}

.acf-relationship .filters.-f2 .filter.-taxonomy {
  width: 100% !important;
  padding: 1rem 1rem !important;
  background: #be1b17 !important;
}

select {
  text-transform: uppercase !important;
  font-family: "RobotoBold" !important;
  background-color: #be1b17!important;
  color: white!important;

  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box!important;
  -moz-box-sizing: border-box!important;
  box-sizing: border-box!important;
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
}

select {
  background-image: linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc)!important;
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em!important;
  background-size: 5px 5px, 5px 5px, 1px 1.5em!important;
  background-repeat: no-repeat!important;
}

select:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, #ccc, #ccc)!important;
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em!important;
  background-size: 5px 5px, 5px 5px, 1px 1.5em!important;
  background-repeat: no-repeat!important;
  border-color: white!important;
  outline: 0!important;
}

select:-moz-focusring {
  color: transparent!important;
  text-shadow: 0 0 0 #000!important;
}

span.acf-rel-item {
  height: 10rem!important;
  margin: 1rem 0rem !important;
}

.acf-relationship .list .acf-rel-item .thumbnail {
  width: 10rem!important;
  height: 10rem!important;
}

@media screen and (min-width: 47rem) and (max-width: 64rem) and (orientation: portrait) {
  #newtop10-container {
    .entry {
      margin: 4rem 0rem !important;

      .entry-title {
        font-size: clamp(var(--min), var(--val), var(--max)) !important;
        --min: 1rem !important;
        --val: 4.3vw !important;
        --max: 3rem !important;
      }
      .entry-content {
        color: white !important;
        width: 100% !important;
        padding: 0rem 1rem !important;
      }
      .entry-footer {
        display: block !important;
        padding: 0rem 4rem !important;
      }
    }
  }
}

@media screen and (max-width: 47rem) and (orientation: portrait) {
  #newtop10-container {
    .entry {
      margin: 2rem 0rem !important;
      .entry-title {
        font-size: clamp(var(--min), var(--val), var(--max)) !important;
        --min: 1rem !important;
        --val: 8vw !important;
        --max: 3rem !important;
      }
      .entry-header {
        padding: 0rem 3rem !important;
      }
      .entry-content {
        color: white !important;
        width: 100% !important;
        padding: 0rem 0rem !important;
      }
      .entry-footer {
        padding: 0rem 4rem !important;
      }
      .entry-footer-default-max-width {
        text-align: center !important;
      }
    }
  }
}
