@media screen and (max-width: 47rem) and (orientation: portrait) {
  :root {
    --text-multiplier: 1.5;
  }
  .home-container {
    display: flex;
    max-height: 100%;
    height: 311%;
    width: 100vw;
    max-width: 100%;
    background-color: $darkbordeau;
    overflow: hidden;
  }
  .home-left {
    position: absolute;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
    width: 100vw;
    height: 31%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    border: none;
    z-index: 3;
    .home-left-button {
      visibility: visible;
      opacity: 1;
      background-color: $lightblack;
      position: absolute;
      border-radius: 0.625rem;
      width: 25.8%;
      height: 13.2%;
      max-width: 100%;
      color: $rouge;
      float: none;
      font-size: 0px;
      font-family: "RobotoBold";
      left: 34.5%;
      top: 45%;
      &::after {
        font-size: clamp(var(--min), var(--val), var(--max));
        --min: 0.5rem;
        --val: 3.5vw;
        --max: 3rem;
        content: "EDITIONS";
      }
      &:hover::after {
        content: "WELCOME!";
      }
      &:hover {
        background-color: $rouge;
        color: white !important;
      }
    }

    .home-left-img {
      position: absolute;
      display: inline-block;
      overflow: hidden;
      height: 100%;
      width: 84%;
      max-width: 100%;
      left: 2%;
      top: 2%;
      transition: left 0.2s ease-in-out;
      .home-logo {
        visibility: hidden;
        opacity: 0;
      }
      .home-raven {
        position: absolute;
        visibility: visible;
        opacity: 1;
        width: 35%;
        max-width: 100%;
        left: 0%;
        top: 16%;
      }
      .home-typo {
        position: absolute;
        visibility: visible;
        opacity: 1;
        width: 52%;
        max-width: 100%;
        top: 21%;
        left: 28%;
      }
    }
  }
  .home-left:hover {
    position: absolute;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
    width: 100vw;
    height: 31%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    border: none;
    z-index: 3;
    .home-left-button {
      visibility: visible;
      opacity: 1;
      background-color: $lightblack;
      position: absolute;
      border-radius: 0.625rem;
      width: 25.8%;
      height: 13.2%;
      max-width: 100%;
      color: $rouge;
      float: none;
      font-size: 0px;
      font-family: "RobotoBold";
      left: 34.5%;
      top: 45%;
      &::after {
        font-size: clamp(var(--min), var(--val), var(--max));
        --min: 0.5rem;
        --val: 3.5vw;
        --max: 3rem;
        content: "EDITIONS";
      }
      &:hover::after {
        content: "WELCOME!";
      }
      &:hover {
        background-color: $rouge;
        color: white !important;
      }
    }

    .home-left-img {
      position: absolute;
      display: inline-block;
      overflow: hidden;
      height: 100%;
      width: 84%;
      max-width: 100%;
      left: 2%;
      top: 2%;
      transition: left 0.2s ease-in-out;
      .home-logo {
        visibility: hidden;
        opacity: 0;
      }
      .home-raven {
        position: absolute;
        visibility: visible;
        opacity: 1;
        width: 35%;
        max-width: 100%;
        left: 0%;
        top: 16%;
      }
      .home-typo {
        position: absolute;
        visibility: visible;
        opacity: 1;
        width: 52%;
        max-width: 100%;
        top: 21%;
        left: 28%;
      }
    }
  }
  .home-right {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    height: 100%;
    left: 0%;
    top: 0%;
    .home-right-top {
      position: absolute;
      top: 11%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      height: 64.5%;
      width: 100vw;
      background-image: url(../images/84.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: 60%;
      padding: 0rem;
    }
    .home-right-middle {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 21%;
      width: 100%;
      top: 65%;
      padding: 0rem;
      transition: height 0.2s ease-in-out;
      padding-bottom: 2rem;
      background-color: $darkbordeau;

      .home-right-zombie-text {
        position: relative;
        font-weight: normal;
        font-family: "Scratchies";
        color: white;
        font-size: clamp(var(--min), var(--val), var(--max));
        --min: 0.7rem;
        --val: 4.5vw;
        --max: 3rem;
        line-height: 1.7rem;
        text-align: center;
        margin-bottom: 0.5rem;
        transition: font-size 0.2s ease-in-out;
      }
      .home-right-button {
        background-color: $rouge;
        border-radius: 0.4rem;
        width: 47.6%;
        height: 28%;
        max-width: 100%;
        color: white;
        font-size: 0px;
        font-family: "RobotoBold";
        margin: 0.5rem;
        margin-bottom: 0rem;
        &::after {
          font-size: clamp(var(--min), var(--val), var(--max));
          --min: 0.5rem;
          --val: 3.5vw;
          --max: 3rem;
          content: "BROWSE MOVIE LIST";
          transition: font-size 0.2s ease-in-out;
        }
        &:hover::after {
          content: "BRAIIINS!";
        }
        &:hover {
          background-color: $bordeau;
          color: white !important;
        }
      }
    }
    .home-right-search {
      display: flex;
      height: 14%;
      max-height: 100%;
      max-width: 100%;
      width: 100vw;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      position: absolute;
      top: 86%;
      left: 0%;
      background-color: white;
      z-index: 2;
      .home-separator {
        display: none;
        border-top: 0.2rem solid #ffffff;
        width: 100%;
        height: 0.5rem;
      }
      .home-right-search-title {
        color: #d00019;
        font-family: "RobotoBold";
        margin-top: 0rem;
        padding-left: 0rem;
      }
      .search-form {
        width: 90%;
        height: 2rem;
        margin: 0;
        margin-bottom: 0rem;
        padding-left: 0rem;
        .search-field {
          border-radius: 0.4rem;
          max-width: 100%;
          max-height: 100%;
          background-color: $darkbordeau;
        }
        > label {
          font-size: 0px;
        }
        .search-submit {
          height: 20px;
          width: 20px;
          font-size: 0px;
          margin: 0.5rem;
          position: absolute;
          background-image: url(../images/loupe-clear.svg);
          background-repeat: no-repeat;
          background-size: contain;
          fill: white;
        }
      }
    }
  }
  .home-right:hover {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    height: 100%;
    left: 0%;
    top: 0%;
    .home-right-top {
      position: absolute;
      top: 11%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      height: 64.5%;
      width: 100vw;
      background-image: url(../images/84.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: 60%;
      padding: 0rem;
    }
    .home-right-middle {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 21%;
      width: 100%;
      top: 65%;
      padding: 0rem;
      transition: height 0.2s ease-in-out;
      padding-bottom: 2rem;
      background-color: $darkbordeau;

      .home-right-zombie-text {
        position: relative;
        font-weight: normal;
        font-family: "Scratchies";
        color: white;
        font-size: clamp(var(--min), var(--val), var(--max));
        --min: 0.7rem;
        --val: 4.5vw;
        --max: 3rem;
        line-height: 1.7rem;
        text-align: center;
        margin-bottom: 0.5rem;
        transition: font-size 0.2s ease-in-out;
      }
      .home-right-button {
        background-color: $rouge;
        border-radius: 0.4rem;
        width: 47.6%;
        height: 28%;
        max-width: 100%;
        color: white;
        font-size: 0px;
        font-family: "RobotoBold";
        margin: 0.5rem;
        margin-bottom: 0rem;
        &::after {
          font-size: clamp(var(--min), var(--val), var(--max));
          --min: 0.5rem;
          --val: 3.5vw;
          --max: 3rem;
          content: "BROWSE MOVIE LIST";
          transition: font-size 0.2s ease-in-out;
        }
        &:hover::after {
          content: "BRAIIINS!";
        }
        &:hover {
          background-color: $bordeau;
          color: white !important;
        }
      }
    }
    .home-right-search {
      display: flex;
      height: 14%;
      max-height: 100%;
      max-width: 100%;
      width: 100vw;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      position: absolute;
      top: 86%;
      left: 0%;
      background-color: white;
      z-index: 2;
      .home-separator {
        display: none;
        border-top: 0.2rem solid #ffffff;
        width: 100%;
        height: 0.5rem;
      }
      .home-right-search-title {
        color: #d00019;
        font-family: "RobotoBold";
        margin-top: 0rem;
        padding-left: 0rem;
      }
      .search-form {
        width: 90%;
        height: 2rem;
        margin: 0;
        margin-bottom: 0rem;
        padding-left: 0rem;
        .search-field {
          border-radius: 0.4rem;
          max-width: 100%;
          max-height: 100%;
          background-color: $darkbordeau;
        }
        > label {
          font-size: 0px;
        }
        .search-submit {
          height: 20px;
          width: 20px;
          font-size: 5px;
          margin: 0.5rem;
          position: absolute;
          background-image: url(../images/loupe-clear.svg);
          background-color: transparent;
          background-repeat: no-repeat;
          background-size: contain;
          fill: white;
        }
      }
    }
  }
  .home-second {
    position: absolute;
    display: flex;
    flex-direction: row;
    max-height: 100%;
    height: 57%;
    width: 100vw;
    max-width: 100%;
    top: 102%;
    background-color: $darkbordeau;
    .home-second-picture {
      position: absolute;
      width: 96%;
      max-width: 100%;
      z-index: 2;
      left: -48%;
      top: 63%;
    }
    .home-second-right {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 80%;
      height: 100%;
      overflow: hidden;
      left: 10%;
      top: 0%;
      color: white;
      height: 100%;
      padding-bottom: 4.5rem;
    }
  }

  .home-third {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    max-height: 100%;
    height: 58%;
    width: 100%;
    left: 0%;
    max-width: 100%;
    top: 156%;
    overflow: hidden;
    background-color: white;
    padding-top: 3rem;
    margin-top: 0rem;
    padding: 2rem;
    .home-third-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 24rem;
      .home-third-text {
        margin: 0;
        background-color: #272727;
        color: white;
        z-index: 2;
        padding: 1rem;
        border-radius: 0.5rem;
        max-width: 72vw;
      }
    }
  }
  .home-four {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    height: 47.4%;
    width: 100vw;
    max-width: 100%;
    top: 205.6%;
    background-color: $rouge;
    color: white;
    .home-four-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .home-four-text {
        margin: 2rem 0;
        max-width: 85vw;
      }
      .home-four-button {
        background-color: #272727;
        border-radius: 0.4rem;
        padding: 0.5rem 2rem;
        max-width: 100%;
        color: white;
        font-size: 0px;
        font-family: "RobotoBold";
        transition: width 0.2s ease-in-out;
        transition: height 0.2s ease-in-out;
        font-size: calc(0.6rem * var(--text-multiplier));
        transition: font-size 0.2s ease-in-out;
        &:hover {
          background-color: $bordeau;
          color: white !important;
        }
      }
    }
  }

  .home-five {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    height: 35%;
    width: 100vw;
    max-width: 100%;
    top: 253%;
    background-color: black;
    color: white;
    #home-five-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      border-right: 0.1rem solid black;
      border-bottom: 0.1rem solid white;
      height: 50%;
      #typewrite {
        display: inline-block;
        vertical-align: middle;
        color: white;
        letter-spacing: 2px;
      }
      #cursor {
        display: inline-block;
        vertical-align: middle;
        width: 3px;
        height: 50px;
        background-color: white;
        animation: blink 0.75s step-end infinite;
      }

      @keyframes blink {
        from,
        to {
          background-color: transparent;
        }
        50% {
          background-color: white;
        }
      }
    }
    .home-five-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-left: 0.1rem solid black;
      border-top: 0.1rem solid white;
      .home-five-button {
        background-color: $rouge;
        border-radius: 0.4rem;
        padding: 0.5rem 2rem;
        max-width: 100%;
        color: white;
        font-size: 0px;
        font-family: "RobotoBold";
        transition: width 0.2s ease-in-out;
        transition: height 0.2s ease-in-out;
        font-size: calc(0.6rem * var(--text-multiplier));
        transition: font-size 0.2s ease-in-out;
        margin: 1rem;
        &:hover {
          background-color: $bordeau;
          color: white !important;
        }
      }
      .home-five-text {
        max-width: 80%;
      }
    }
  }
}
