@media screen and (min-width: 47rem) and (max-width: 64rem) and (orientation: portrait) {
  :root {
    --text-multiplier: 1.5;
  }
  .home-container {
    display: flex;
    max-height: 100%;
    height: 311%;
    width: 100vw;
    max-width: 100%;
    background-color: $darkbordeau;
    overflow: hidden;
  }
  .home-left {
    position: absolute;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
    width: 100vw;
    height: 47%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    border: none;
    z-index: 3;
    .home-left-button {
      visibility: visible;
      opacity: 1;
      background-color: $lightblack;
      position: absolute;
      border-radius: 0.625rem;
      width: 25.8%;
      height: 13.2%;
      max-width: 100%;
      color: $rouge;
      float: none;
      font-size: 0px;
      font-family: "RobotoBold";
      left: 34.5%;
      top: 45%;
      &::after {
        font-size: clamp(var(--min), var(--val), var(--max));
        --min: 1rem;
        --val: 3.5vw;
        --max: 3rem;
        content: "HISTORY";
      }
      &:hover::after {
        content: "WELCOME!";
      }
      &:hover {
        background-color: $rouge;
        color: white !important;
      }
    }

    .home-left-img {
      position: absolute;
      display: inline-block;
      overflow: hidden;
      height: 100%;
      width: 100%;
      max-width: 100%;
      left: 0%;
      top: 0%;
      transition: left 0.2s ease-in-out;
      .home-logo {
        visibility: hidden;
        opacity: 0;
      }
      .home-raven {
        position: absolute;
        visibility: visible;
        opacity: 1;
        width: 35%;
        max-width: 100%;
        left: 0%;
        top: 16%;
      }
      .home-typo {
        position: absolute;
        visibility: visible;
        opacity: 1;
        width: 52%;
        max-width: 100%;
        top: 21%;
        left: 28%;
      }
    }
  }
  .home-left:hover {
    position: absolute;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
    width: 100vw;
    height: 47%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    border: none;
    z-index: 3;
    .home-left-button {
      visibility: visible;
      opacity: 1;
      background-color: $lightblack;
      position: absolute;
      border-radius: 0.625rem;
      width: 25.8%;
      height: 13.2%;
      max-width: 100%;
      color: $rouge;
      float: none;
      font-size: 0px;
      font-family: "RobotoBold";
      left: 34.5%;
      top: 45%;
      &::after {
        font-size: clamp(var(--min), var(--val), var(--max));
        --min: 1rem;
        --val: 3.5vw;
        --max: 3rem;
        content: "HISTORY";
      }
      &:hover::after {
        content: "WELCOME!";
      }
      &:hover {
        background-color: $rouge;
        color: white !important;
      }
    }

    .home-left-img {
      position: absolute;
      display: inline-block;
      overflow: hidden;
      height: 100%;
      width: 100%;
      max-width: 100%;
      left: 0%;
      top: 0%;
      transition: left 0.2s ease-in-out;
      .home-logo {
        visibility: hidden;
        opacity: 0;
      }
      .home-raven {
        position: absolute;
        visibility: visible;
        opacity: 1;
        width: 35%;
        max-width: 100%;
        left: 0%;
        top: 16%;
      }
      .home-typo {
        position: absolute;
        visibility: visible;
        opacity: 1;
        width: 52%;
        max-width: 100%;
        top: 21%;
        left: 28%;
      }
    }
  }
  .home-right {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    height: 109%;
    left: 0%;
    top: 7%;
    .home-right-top {
      position: absolute;
      top: 6%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      height: 77.5%;
      width: 100vw;
      background-image: url(../images/84.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: 46%;
      padding: 0rem;
    }
    .home-right-middle {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 18%;
      width: 100%;
      top: 68%;
      padding: 0rem;
      transition: height 0.2s ease-in-out;
      padding-bottom: 1rem;
      background-color: $darkbordeau;

      .home-right-zombie-text {
        position: relative;
        font-weight: normal;
        font-family: "Scratchies";
        color: white;
        font-size: clamp(var(--min), var(--val), var(--max));
        --min: 1rem;
        --val: 4.5vw;
        --max: 3rem;
        line-height: 3.688rem;
        margin-bottom: 0.5rem;
        transition: font-size 0.2s ease-in-out;
      }
      .home-right-button {
        background-color: $rouge;
        border-radius: 0.4rem;
        width: 47.6%;
        height: 33.8%;
        max-width: 100%;
        color: white;
        font-size: 0px;
        font-family: "RobotoBold";
        margin: 0.5rem;
        margin-bottom: 0rem;
        &::after {
          font-size: clamp(var(--min), var(--val), var(--max));
          --min: 1rem;
          --val: 3.5vw;
          --max: 3rem;
          content: "BROWSE MOVIE LIST";
          transition: font-size 0.2s ease-in-out;
        }
        &:hover::after {
          content: "BRAIIINS!";
        }
        &:hover {
          background-color: $bordeau;
          color: white !important;
        }
      }
    }
    .home-right-search {
      display: flex;
      height: 14%;
      max-height: 100%;
      max-width: 100%;
      width: 100vw;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      position: absolute;
      top: 86%;
      left: 0%;
      background-color: white;
      z-index: 2;
      .home-separator {
        display: none;
        border-top: 0.2rem solid #ffffff;
        width: 100%;
        height: 0.5rem;
      }
      .home-right-search-title {
        color: #d00019;
        font-family: "RobotoBold";
        margin-top: 0rem;
        padding-left: 0rem;
      }
      .search-form {
        width: 90%;
        margin: 0;
        margin-bottom: 0rem;
        padding-left: 0rem;
        .search-field {
          border-radius: 0.4rem;
          max-width: 100%;
          max-height: 100%;
          height: 2.5rem;
          background-color: $darkbordeau;
        }
        > label {
          font-size: 0px;
        }
        .search-submit {
          height: 20px;
          width: 20px;
          font-size: 5px;
          margin: 0.5rem;
          position: absolute;
          background-image: url(../images/loupe-clear.svg);
          background-color: transparent;
          background-repeat: no-repeat;
          background-size: contain;
          fill: white;
        }
      }
    }
  }
  .home-right:hover {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    height: 109%;
    left: 0%;
    top: 7%;
    .home-right-top {
      position: absolute;
      top: 6%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      height: 77.5%;
      width: 100vw;
      background-image: url(../images/84.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: 46%;
      padding: 0rem;
    }
    .home-right-middle {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 18%;
      width: 100%;
      top: 68%;
      padding: 0rem;
      transition: height 0.2s ease-in-out;
      padding-bottom: 1rem;
      background-color: $darkbordeau;

      .home-right-zombie-text {
        position: relative;
        font-weight: normal;
        font-family: "Scratchies";
        color: white;
        font-size: clamp(var(--min), var(--val), var(--max));
        --min: 1rem;
        --val: 4.5vw;
        --max: 3rem;
        line-height: 3.688rem;
        margin-bottom: 0.5rem;
        transition: font-size 0.2s ease-in-out;
      }
      .home-right-button {
        background-color: $rouge;
        border-radius: 0.4rem;
        width: 47.6%;
        height: 33.8%;
        max-width: 100%;
        color: white;
        font-size: 0px;
        font-family: "RobotoBold";
        margin: 0.5rem;
        margin-bottom: 0rem;
        &::after {
          font-size: clamp(var(--min), var(--val), var(--max));
          --min: 1rem;
          --val: 3.5vw;
          --max: 3rem;
          content: "BROWSE MOVIE LIST";
          transition: font-size 0.2s ease-in-out;
        }
        &:hover::after {
          content: "BRAIIINS!";
        }
        &:hover {
          background-color: $bordeau;
          color: white !important;
        }
      }
    }
    .home-right-search {
      display: flex;
      height: 14%;
      max-height: 100%;
      max-width: 100%;
      width: 100vw;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      position: absolute;
      top: 86%;
      left: 0%;
      background-color: white;
      z-index: 2;
      .home-separator {
        display: none;
        border-top: 0.2rem solid #ffffff;
        width: 100%;
        height: 0.5rem;
      }
      .home-right-search-title {
        color: #d00019;
        font-family: "RobotoBold";
        margin-top: 0rem;
        padding-left: 0rem;
      }
      .search-form {
        width: 90%;
        margin: 0;
        margin-bottom: 0rem;
        padding-left: 0rem;
        .search-field {
          border-radius: 0.4rem;
          max-width: 100%;
          max-height: 100%;
          background-color: $darkbordeau;
          height: 2.5rem;
        }
        > label {
          font-size: 0px;
        }
        .search-submit {
          font-size: 0px;
          margin: 0.5rem;
          position: absolute;
          background-image: url(../images/loupe-clear.svg);
          background-repeat: no-repeat;
          background-size: contain;
          fill: white;
        }
      }
    }
  }
  .home-second {
    position: absolute;
    display: flex;
    flex-direction: row;
    max-height: 100%;
    height: 57%;
    width: 100vw;
    max-width: 100%;
    top: 116%;
    background-color: $darkbordeau;
    .home-second-picture {
      position: absolute;
      width: 96%;
      max-width: 100%;
      z-index: 2;
      left: -48%;
      top: 63%;
    }
    .home-second-right {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 80%;
      overflow: hidden;
      left: 10%;
      color: white;
      height: 100%;
      padding-top: 0rem;
      padding-bottom: 7rem;
    }
    .home-second-title {
      line-height: 2.938rem;
    }
    .home-second-text {
      margin: 1rem 0;
    }
    .home-second-button {
      background-color: #d00019;
      border-radius: 0.4rem;
      width: 45%;
      height: 14%;
      max-width: 100%;
      color: white;
      font-size: 0px;
      font-family: "RobotoBold";
      margin: 1rem 0;
      transition: width 0.2s ease-in-out;
      transition: height 0.2s ease-in-out;
      font-size: clamp(var(--min), var(--val), var(--max));
      --min: 1rem;
      --val: 3.5vw;
      --max: 3rem;
      transition: font-size 0.2s ease-in-out;
      align-self: flex-end;
      &:hover {
        background-color: $bordeau;
        color: white !important;
      }
    }
  }

  .home-third {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-height: 100%;
    height: 73.69%;
    width: 72%;
    left: 20%;
    max-width: 100%;
    top: 174%;
    overflow: hidden;
    background-color: white;
    padding-top: 0rem;
    margin-top: 2rem;
    .home-third-title {
      line-height: 2.938rem;
    }
    .home-third-text {
      margin: 1rem 0;
      max-width: 85vw;
    }
    .home-third-button {
      font-family: "RobotoBold";
      background-color: #272727;
      border-radius: 0.625rem;
      width: 70%;
      height: 10%;
      max-width: 100%;
      color: $rouge;
      float: none;
      font-size: 0px;
      margin: 1rem 0;
      margin-left: 30%;
      &::after {
        font-size: clamp(var(--min), var(--val), var(--max));
        --min: 1rem;
        --val: 3.5vw;
        --max: 3rem;
        content: "JOIN THE GUILD";
      }
      &:hover::after {
        content: "BECOME A MEMBER";
      }
      &:hover {
        background-color: $rouge;
        color: white !important;
      }
    }
  }
}
