$rouge: #D00019;
$darkrouge:#be1b17;
$darkerrouge:#9c0b0b; 
$darkbordeau: #180000;
$bordeau: #751715;
$lightblack:#272727;
$grey:#212529;
$lightgrey:#696969;





@each $name, $color in $colors {

	.has-#{$name}-color,
	.has-#{$name}-color:visited {
		color: $color;
	}
	.has-#{$name}-background-color {
		background-color: $color;
		border-color: $color;
	}
}
@each $name, $color in $theme-colors {

	.has-#{$name}-color,
	.has-#{$name}-color:visited {
		color: $color;
	}
	.has-#{$name}-background-color {
		background-color: $color;
		border-color: $color;
	}
}
