.footer-wrapper {
  background-color: $rouge;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: black;
  padding: 1.2rem 3rem;
  .footer-copyright {
    p {
      font-size: clamp(var(--min), var(--val), var(--max));
      --min: 0.8rem;
      --val: 1.2vw;
      --max: 1.875rem;
    }
  }
  .footer-socials {
    width: 30%;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 0rem;
    .footer-social {
      justify-self: center;
      width: 50%;
    }
  }
}

.widget-area {
  grid-template-columns: 2.5fr 1fr 2fr 2fr;
  padding: 8% 8%;
  justify-self: center;
}

.widget {
  font-family: "RobotoMedium";
  color: $lightgrey;
  > * {
    width: 100%;
  }

  #cat.postform {
    min-width: 15ch;
    max-width: 25ch;
    font-size: clamp(var(--min), var(--val), var(--max));
    --min: 0.5rem;
    --val: 3vw;
    --max: 1.25rem;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    cursor: pointer;
    line-height: 1.1;
    background-color: white;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: 5%;
    color: black;
    width: 100%;
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
  }
  .search-form {
    border-radius: 0.25em;
    background-color: $grey;
  }
  a {
    text-decoration: none;
  }
  .widget-title {
    text-transform: uppercase;
    font-family: "RobotoMedium";
    margin-bottom: 1rem;
    font-size: clamp(var(--min), var(--val), var(--max));
    --min: 0.8rem;
    --val: 1.2vw;
    --max: 1.875rem;
    padding-top: 0.5rem;
  }
}

.widget_search {
  grid-column-start: 4;
  margin-top: 3rem;
  max-width: 25ch;
  .widget-title {
    width: 10%;
    padding: 0rem;
  }
}

.widget_media_image {
  img {
    width: 80%;
  }
}

.widget_recent_comments {
  padding-right: 3rem;
}

.widget_categories {
  grid-column-start: 1;
  border-radius: 0.75em;
  background-color: $lightblack;
  color: $darkrouge;
  width: 50%;
  padding: 1.5rem;
  .widget-title {
    font-size: clamp(var(--min), var(--val), var(--max));
    --min: 0.8rem;
    --val: 1vw;
    --max: 1.875rem;
  }
}

#nav_menu-3 {
  grid-column-start: 1;
}

input[type="search"] {
  margin: 0px;
}

.widget_search > .search-form .search-submit {
  height: 15px;
  width: 15px;
  font-size: 5px;
  margin: 0.5rem;
  position: absolute;
  background-image: url(../images/loupe.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

label {
  font-size: 0px;
}

@media only screen and (min-width: 1024px) {
  .widget_recent_comments {
  }
}

@media screen and (min-width: 47rem) and (max-width: 64rem) and (orientation: portrait) {
  .widget-title {
    font-size: clamp(var(--min), var(--val), var(--max));
    --min: 1rem !important;
    --val: 3vw !important;
    --max: 3rem !important;
  }
  .widget_archive {
    border-bottom: 2px solid #212529;
  }
  .widget_recent_comments {
    border-bottom: 2px solid #212529;
  }
}

@media screen and (max-width: 47rem) and (orientation: portrait) {
  .footer-wrapper {
    grid-template-columns: repeat(1, 1fr);
    .footer-socials {
      justify-self: center;
      display: grid;
      width: 40%;
      margin-top: 0.5rem;
      .footer-social {
        justify-self: center;
      }
    }
  }

  .widget {
    border-bottom: 2px solid black;
    padding: 1rem;
    .search-form {
      border: 0.4em solid $rouge;
    }
    a {
      font-size: 12px;
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .widget_search {
    border-bottom: 2px solid $rouge;
  }
  .widget_archive {
    border-bottom: 2px solid $rouge;
  }

  .widget_meta {
    background-color: $darkrouge;
    color: black;
  }
}
