.footer-wrapper {
  background-color: $rouge;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: black;
  padding: 1.2rem 3rem;
  .footer-copyright {
    p {
      font-size: clamp(var(--min), var(--val), var(--max));
      --min: 0.8rem;
      --val: 1.2vw;
      --max: 1.875rem;
    }
  }
  .footer-socials {
    width: 30%;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 0rem;
    .footer-social {
      justify-self: center;
      width: 50%;
    }
  }
}

.widget-area {
  grid-template-columns: 2fr 0.8fr 0.8fr 1fr 1fr 0.5fr;
  padding: 0%;
  justify-self: center;
  border-top: 1px solid #212529;
}

.widget {
  font-family: "RobotoMedium";
  color: $lightgrey;
  > * {
    width: 100%;
  }

  #cat.postform {
    min-width: 15ch;
    max-width: 25ch;
    font-size: clamp(var(--min), var(--val), var(--max));
    --min: 0.5rem;
    --val: 3vw;
    --max: 1.25rem;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    cursor: pointer;
    line-height: 1.1;
    background-color: white;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: 5%;
    color: black;
    width: 100%;
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
  }
  .search-form {
    border-radius: 0.25em;
    background-color: $grey;
  }
  a {
    text-decoration: none;
  }
  .widget-title {
    text-transform: uppercase;
    font-family: "RobotoMedium";
    margin-bottom: 1rem;
    font-size: clamp(var(--min), var(--val), var(--max));
    --min: 0.8rem;
    --val: 1.2vw;
    --max: 1.875rem;
    padding-top: 0.5rem;
  }
}

.widget_search {
  grid-column-start: 1;
  grid-column-end: 7;
  display: flex;
  background-color: #212529;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 3rem;
  .widget-title {
    width: 10%;
    padding: 0rem;
    margin: 0rem;
    color: white !important;
    text-align: center;
  }
  .search-form {
    margin: 0 !important;
  }
}

input[type="search"] {
  margin: 0px;
}

.widget_search > .search-form .search-submit {
  height: 15px;
  width: 15px;
  font-size: 5px;
  margin: 0.5rem;
  position: absolute;
  background-image: url(../images/loupe.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

label {
  font-size: 0px;
}

.widget_media_image {
  padding: 5rem 5rem 5rem 10rem;
}

.widget_nav_menu {
  padding: 6rem 3rem 5rem 3rem;
}

@media screen and (min-width: 47rem) and (max-width: 64rem) and (orientation: portrait) {
  .footer-wrapper {
    .footer-socials {
      .footer-social {
        width: 75%;
      }
    }
  }
  .widget-area {
    grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 1fr 0.5fr;
  }
  .widget-title {
    margin-bottom: 0.5rem !important;
    font-size: clamp(var(--min), var(--val), var(--max)) !important;
    --min: 0.8rem !important;
    --val: 1.8vw !important;
    --max: 1.875rem !important;
    padding-top: 0.5rem !important;
  }

  a {
    font-size: 12px;
  }
  .widget_media_image {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem 0rem 3rem;
  }
  .widget_nav_menu {
    padding: 0rem 2rem 2rem 2rem;
  }
  #nav_menu-2 {
    grid-column-start: 2;
  }
  .widget_search .widget-title {
    width: 14%;
    text-align: left !important;
  }
}

@media screen and (max-width: 47rem) and (orientation: portrait) {
  .widget-area {
    padding: 0% 0%;
  }
  .footer-wrapper {
    grid-template-columns: repeat(1, 1fr);
    .footer-copyright {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .footer-socials {
      justify-self: center;
      display: grid;
      width: 50%;
      margin-top: 0.5rem;
      .footer-social {
        justify-self: center;
      }
    }
  }

  .widget_media_image {
    padding: 3rem 5rem 2rem 5rem !important;
    border-bottom: 3px solid #be1b17;
    margin-bottom: 0.5rem;
  }

  .widget {
    a {
      font-size: 12px;
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .widget .widget-title {
    margin-bottom: 0rem !important;
    font-size: clamp(var(--min), var(--val), var(--max));
    --min: 0.8rem;
    --val: 1.2vw;
    --max: 1.875rem;
    padding-top: 0rem !important;
  }
  .widget-area ul {
    margin-bottom: 0rem !important;
  }

  .widget_search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    padding: 1.5rem 2rem !important;
    background-color: unset !important;
  }
  .widget_search .widget-title {
    width: 25% !important;
    text-align: left !important;
    padding-top: 0rem !important;
  }

  .widget_nav_menu {
    padding: 1rem;
  }

  #nav_menu-5 {
    background-color: #be1b17;
    color: black;
  }
  #nav_menu-4 {
    margin-bottom: 0.5rem;
  }
}
