.site-header {
  background-color: #ffffff;
  font-family: "RobotoBold";
  width: 100vw;
  max-width: 100%;
  position: fixed;
  z-index: 10;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  border-bottom: 0.2rem solid black;
}
.site-branding {
  margin-right: initial;
  margin-top: 4px;
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
}

.brand-image {
  margin-top: 0.5rem;
  margin-bottom: 0.9rem;
  width: 75%;
}
.primary-navigation > div > .menu-wrapper {
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  max-width: none;
  padding-left: 0;
  position: relative;
}

.primary-navigation .primary-menu-container > ul > .menu-item > a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: black;
  font-family: "RobotoMedium" !important;
}

.primary-navigation .primary-menu-container > ul > .menu-item > a:hover {
  color: $rouge !important;
  text-decoration: none;
}

.primary-navigation .sub-menu .menu-item > a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: black;
  font-family: "RobotoMedium" !important;
}

.primary-navigation .sub-menu .menu-item > a:hover {
  color: $rouge !important;
  text-decoration: none;
}

.primary-navigation > div > .menu-wrapper .sub-menu-toggle {
  color: black !important;
  width: 1rem !important;
}

.sub-menu {
  padding: 1rem 0.5rem !important;
  background-color: $rouge;
  > li {
    padding-bottom: 0.5rem !important;
  }
}
.primary-navigation > div > .menu-wrapper > li > .sub-menu:after {
  display: none !important;
}
.primary-navigation > div > .menu-wrapper > li > .sub-menu:before {
  display: none !important;
}

@media only screen and (min-width: 47rem) and (max-width: 62rem) {
  .site-header {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }
  .site-branding {
    max-width: 22%;
  }
  .brand-image {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    width: 100%;
  }
  .primary-navigation .primary-menu-container > ul > .menu-item > a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media only screen and (max-width: 47rem) {
  .site-header {
    padding-left: 1.125rem;
  }
  .site-branding {
    height: 0.5rem;
    max-width: calc(100% - 110px) !important;
  }
  .brand-image {
    margin-top: 0rem;
    width: 50%;
  }
  .menu-button-container {
    display: flex;
    :hover {
      cursor: pointer;
    }
  }
  .dropdown-icon.open {
    font-size: 0;
    .svg-icon {
      color: black;
      margin: 0.2rem 0.5rem;
    }
  }
  .dropdown-icon.close {
    font-size: 0;
    .svg-icon {
      color: black;
      margin: 0.2rem 0.5rem;
    }
  }
  .primary-navigation-open .primary-navigation > .primary-menu-container {
    position: absolute;
    visibility: visible;
    opacity: 1;
    background-color: transparent;
    height: 101vh;
    width: 101vw;
    z-index: 499;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 4rem;
    padding-top: 1rem;
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
    border: 0px;
    background-image: url(../images/splatter.svg);
    background-size: 150%;
    background-position-x: 9%;
    background-position-y: -66%;
    background-repeat: no-repeat;
  }

  .primary-navigation > div > .menu-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
  }

  .primary-navigation > .primary-menu-container > .menu-wrapper {
    li {
      margin-bottom: 0.7rem;
      transition: all 0.3s ease-in-out;
      margin-right: 1rem;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .sub-menu {
      padding-top: 0.7rem !important;
    }
  }
}
