@font-face {
  font-family: "RobotoLight";
  src: url(../fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoMedium";
  src: url(../fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoBold";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoBlack";
  src: url(../fonts/Roboto-Black.ttf) format("truetype");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MrsMonster";
  src: url(../fonts/mrsmonsterexpand.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scratchies";
  src: url(../fonts/Scratchies-Yr28.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Harmonster";
  src: url(../fonts/HarmonsterDemo-Regular.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
