.post-186051 {
  margin: unset !important;
  margin-bottom: 0rem !important;
  margin-top: 0rem !important;
  padding: unset !important;
  display: block !important;
  background: none !important;
  border-radius: unset !important;
  max-width: 100% !important;
  justify-self: center !important;
  overflow: hidden !important;
  justify-content: unset !important;
  background-image: none !important;
  .entry-header {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: flex-start !important;
    max-height: 100vw !important;
    width: 100% !important;
    padding: 0rem 4rem !important;
    overflow: hidden !important;
  }
  .entry-content {
    color: white !important;
    width: 100% !important;
    padding: 0rem 1rem !important;
  }
  .entry-title {
    font-size: clamp(var(--min), var(--val), var(--max)) !important;
    --min: 1rem !important;
    --val: 2.4vw !important;
    --max: 2.8125rem !important;
    text-transform: uppercase !important;
  }
  .entry-footer {
    display: block !important;
    padding: 0rem 4rem !important;
  }
  .edit-link {
    padding: 0.5rem 3rem !important;
    border-radius: 3px !important;
  }
}

.um-form {
  margin: 3rem !important;
}

.um-account-side {
  background: #be1b17 !important;
  padding: 2.1rem !important;
  border-radius: 5px !important;
}

.um-account-main {
  float: right !important;
  width: 68% !important;
  border: 3px #272727 solid !important;
  border-radius: 3px !important;
  padding: 1.5rem !important;
}

.um-account-name {
  a {
    color: white !important;
    font-family: "RobotoBold" !important;
    font-size: clamp(var(--min), var(--val), var(--max)) !important;
    --min: 1rem !important;
    --val: 1.5vw !important;
    --max: 3rem !important;
  }
}

.um-account-profile-link {
  .um-link {
    font-family: "RobotoBold" !important;
    color: white !important;
  }
}

.um-faicon-user {
  color: #be1b17 !important;
}

.um-account-heading {
  color: white !important;
  font-family: "RobotoBold" !important;
}

.um-field-label {
  color: white !important;
  font-family: "RobotoBold" !important;
}

.um-field-area {
  font-family: "RobotoBold" !important;
}

.um-verified-info {
  a {
    color: #696969 !important;
    font-family: "RobotoBold" !important;
  }
}

.um-button {
  background: #be1b17 !important;
  font-family: "RobotoBold" !important;
}

.um-account-meta {
  float: none !important;
  width: 100% !important;
  margin: auto !important;
  padding: 1.5rem 0rem !important;
  background: #be1b17 !important;
}

.um-account-nav {
  a {
    color: white !important;
    font-family: "RobotoBold" !important;
  }
}

@media screen and (min-width: 47rem) and (max-width: 64rem) and (orientation: portrait) {
  .post-186051 {
    margin: 4rem 0rem !important;

    .entry-title {
      font-size: clamp(var(--min), var(--val), var(--max)) !important;
      --min: 1rem !important;
      --val: 4.3vw !important;
      --max: 3rem !important;
    }
    .entry-content {
      color: white !important;
      width: 100% !important;
      padding: 0rem 1rem !important;
    }
    .entry-footer {
      display: block !important;
      padding: 0rem 4rem !important;
    }
    .entry-footer-default-max-width {
      text-align: end;
    }
  }

  .um-account-name {
    a {
      color: white !important;
      font-family: "RobotoBold";
      font-size: clamp(var(--min), var(--val), var(--max)) !important;
      --min: 1rem !important;
      --val: 3.5vw !important;
      --max: 3rem !important;
    }
  }
  .um-account-side {
    background: #be1b17 !important;
    padding: 2.5rem !important;
    float: left !important;
    width: 30% !important;
    border-radius: 5px !important;
  }

  .um-account-main {
    float: right !important;
    width: 66% !important;
    border: 3px #272727 solid !important;
    border-radius: 3px !important;
    padding: 1.5rem !important;
  }
  a.um-account-link.current {
    background: #212529 !important;
  }
}

@media screen and (max-width: 47rem) and (orientation: portrait) {
  .post-186051 {
    margin: 2rem 0rem !important;
    .entry-title {
      font-size: clamp(var(--min), var(--val), var(--max)) !important;
      --min: 1rem !important;
      --val: 8vw !important;
      --max: 3rem !important;
    }
    .entry-header {
      padding: 0rem 3rem !important;
    }
    .entry-content {
      color: white !important;
      width: 100% !important;
      padding: 0rem 0rem !important;
    }
    .entry-footer {
      padding: 0rem 4rem !important;
    }
    .entry-footer-default-max-width {
      text-align: center;
    }
  }
  .um-account-name {
    a {
      color: white !important;
      font-family: "RobotoBold" !important;
      font-size: clamp(var(--min), var(--val), var(--max)) !important;
      --min: 1rem !important;
      --val: 5vw !important;
      --max: 3rem !important;
    }
  }
  .um-account-meta {
    float: none !important;
    width: unset !important;
    margin: auto !important;
    padding: 1rem !important;
    background: #be1b17 !important;
    border-radius: 3px;
    text-align: center;
  }
  .um-account-main {
    width: 100% !important;
    float: none !important;
    margin-top: 1.5rem !important;
    border: 3px #272727 solid !important;
    border-radius: 3px !important;
    padding: 1.5rem !important;
  }
  .um-account-nav {
    a {
      color: white !important;
      font-family: "RobotoBold" !important;
    }
  }
}
