.idlzm-container {
  margin-top: 6rem;
  padding: 0rem 3rem;
  .col-md-6 {
    width: 100% !important;
  }
  h4 {
    padding: 1rem;
    border: 0.25rem solid #d00019;
    text-align: center;
  }
  p {
    text-align: center !important;
    margin: 1rem !important;
  }
  .app.slider {
    padding: 0.5rem;
    height: 22rem !important;
  }

  .acf-field {
    margin: 2rem;
    .acf-input {
      display: flex;
      justify-content: center;
      .fea-submit-button {
        background-color: #d00019;
        padding: 0.5rem 1rem;
        border-radius: 3px;
        font-family: "ROBOTOBOLD";
      }
    }
  }
}


@media screen and (max-width: 47rem) {
  .idlzm-container {
    margin-top: 4rem;
    padding: 0rem 2rem;
  }
}
