.post-186047 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.entry-content {
  color: white !important;
}

.um-field-label {
  color: white !important;
}

.um-button {
  background: $darkrouge;
}

.um-button.um-alt {
  background: #272727;
}
.um .um-button.um-alt {
  color: white;
}
a.um-link-alt {
  font-family: "RobotoBold";
}

.um-login.um-logout.um-186043.uimob340 {
  margin: 1rem;
  background: #be1b17;
  padding: 1rem;
  border-radius: 5px;
}

.um-misc-img {
  margin: 1rem;
}

.um-misc-with-img {
  color: white;
  font-family: "RobotoBold";
  font-size: clamp(var(--min), var(--val), var(--max));
  --min: 1rem;
  --val: 1.5vw;
  --max: 3rem;
}

.edit-link {
  font-family: "RobotoBold";
  background: #272727;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.entry-title {
  font-size: clamp(var(--min), var(--val), var(--max));
  --min: 1rem;
  --val: 2.4vw;
  --max: 2.8125rem;
}

@media screen and (min-width: 47rem) and (max-width: 64rem) and (orientation: portrait) {
  .post-186047 {
    margin: 6rem;
  }
  .entry-title {
    font-size: clamp(var(--min), var(--val), var(--max));
    --min: 1rem;
    --val: 4.3vw;
    --max: 3rem;
  }
  .um-login.um-logout.um-186043.uimob340 {
    margin: 1rem;
    padding: 1rem;
  }

  .um-misc-img {
    margin: 1rem;
  }

  .um-misc-with-img {
    font-size: clamp(var(--min), var(--val), var(--max));
    --min: 1rem;
    --val: 3.5vw;
    --max: 3rem;
  }

  .edit-link {
    padding: 0.5rem 3rem;
    border-radius: 3px;
  }
  .entry-footer.default-max-width {
    text-align: center;
  }
}

@media screen and (max-width: 47rem) and (orientation: portrait) {
  .entry-title {
    font-size: clamp(var(--min), var(--val), var(--max));
    --min: 1rem;
    --val: 8vw;
    --max: 3rem;
  }
  .post-186047 {
    margin: 4rem;
  }

  .um-login.um-logout.um-186043.uimob340 {
    margin: 1rem;
    padding: 1rem;
  }

  .um-misc-img {
    margin: 1rem;
  }

  .um-misc-with-img {
    font-size: clamp(var(--min), var(--val), var(--max));
    --min: 1rem;
    --val: 5vw;
    --max: 3rem;
  }

  .edit-link {
    padding: 0.5rem 1rem;
    border-radius: 3px;
  }
}
