.quotes-container {
  min-height: 32vh;
  width: 98%;
  margin: 2rem auto;
  margin-bottom: 2rem !important;
  p {
    margin: 0px;
    font-size: clamp(var(--min), var(--val), var(--max));
    --min: 0.2rem;
    --val: 1.25vw;
    --max: 1.125rem;
    font-family: "RobotoMedium";
    line-height: 2rem !important;
  }

  ul {
    margin: 1rem;
    li {
      margin: 1rem;
      font-size: clamp(var(--min), var(--val), var(--max));
      --min: 0.2rem;
      --val: 1.25vw;
      --max: 1.125rem;
      font-family: "RobotoMedium";
      list-style: square;
    }
  }

  blockquote {
    p {
      font-size: clamp(var(--min), var(--val), var(--max));
      --min: 0.2rem;
      --val: 2.5vw;
      --max: 2vw;
      font-family: "RobotoBold";
      text-align: inherit !important;
      margin: 1rem;
      margin-top: 2rem;
    }
  }

  .quotes-text {
    width: 95%;
    margin: auto;
    border: 5px solid #be1b17;
    padding: 1rem;

    .text-center {
      text-align: center !important;
    }
    .text-below {
      margin-top: 1rem;
    }
    .text-title {
      font-size: clamp(var(--min), var(--val), var(--max));
      --min: 0.2rem;
      --val: 2.5vw;
      --max: 1.8vw;
    }
    .quote-list {
      background-color: #272727;
      border-radius: 5px;
      padding: 1rem;
    }
    .welcome {
      background-color: #272727;
      border-radius: 5px;
      padding: 1rem;
    }
  }

  .quotes-quotes {
    margin: 3rem auto;
    width: 90%;
    display: flex;
    flex-direction: column;

    .quotes-quote {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 1rem 0rem;

      .quote-image {
        max-width: 100%;
        .quote-img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .quote-text {
        margin: 1rem;
        padding: 1rem;
        border: 3px solid #be1b17;
        max-width: 55%;
        text-align: left !important;
      }
    }

    .other-quotes {
      margin: 1rem;
      .other-quotes-title {
        h5 {
          margin: auto;
          width: 90%;
        }
      }
      .quotes-list {
        margin: auto;
        width: 90%;
        font-family: "RobotoMedium";
        ul {
          margin: 1rem;
          padding: 1rem;
          border: 3px solid #9c0b0b;
        }
      }
    }
  }
}

@media screen and (min-width: 47rem) and (max-width: 64rem) and (orientation: portrait) {
  .quotes-container {
    p {
      margin: 0px;
      font-size: clamp(var(--min), var(--val), var(--max));
      --min: 0.2rem;
      --val: 1.8vw;
      --max: 1.125rem;
      line-height: 1.5rem !important;
    }

    ul {
      li {
        font-size: clamp(var(--min), var(--val), var(--max));
        --min: 0.2rem;
        --val: 1.8vw;
        --max: 1.125rem;
      }
    }

    blockquote {
      p {
        font-size: clamp(var(--min), var(--val), var(--max));
        --min: 0.2rem;
        --val: 2.5vw;
        --max: 3vw;
        margin: 1rem;
        margin-top: 2rem;
      }
    }

    .quotes-text {
      .text-title {
        font-size: clamp(var(--min), var(--val), var(--max));
        --min: 0.2rem;
        --val: 2.5vw;
        --max: 2.2vw;
      }
    }

    .quotes-quotes {
      .quotes-quote {
        flex-direction: column;

        .quote-image {
          max-width: 100%;
        }
        .quote-text {
          max-width: 100%;
        }
      }

      .other-quotes {
        .quotes-list {
          ul {
            margin: 1rem;
            padding: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 47rem) {
  .quotes-container {
    p {
      font-size: 14px;
      line-height: 1.5rem !important;
    }

    ul {
      li {
        font-size: 14px;
      }
    }

    blockquote {
      p {
        font-size: 19px;
        margin: 1rem;
        margin-top: 2rem;
      }
    }

    .quotes-text {
      .text-title {
        font-size: 16px;
      }
    }

    .quotes-quotes {
      .quotes-quote {
        flex-direction: column;

        .quote-image {
          max-width: 100%;
        }
        .quote-text {
          max-width: 100%;
        }
      }

      .other-quotes {
        .quotes-list {
          ul {
            margin: 1rem;
            padding: 1rem;
          }
        }
      }
    }
  }
}
