#register-container {
  .entry {
    margin: unset !important;
    margin-bottom: 0rem !important;
    margin-top: 0rem !important;
    padding: unset !important;
    display: block !important;
    background: none !important;
    border-radius: unset !important;
    max-width: 100% !important;
    justify-self: center !important;
    overflow: hidden !important;
    justify-content: unset !important;
    background-image: none !important;
    .entry-header {
      display: flex !important;
      flex-direction: column !important;
      justify-content: space-between !important;
      align-items: flex-start !important;
      max-height: 100vw !important;
      width: 100% !important;
      padding: 0rem 2rem !important;
      overflow: hidden !important;
    }
    .entry-content {
      color: white !important;
      width: 100% !important;
      padding: 3rem !important;
      margin: 2rem !important;
      max-width: 90% !important;
      font-family: "RobotoBold" !important;
      border: 3px solid #be1b17 !important;
    }
    .entry-title {
      font-size: clamp(var(--min), var(--val), var(--max)) !important;
      --min: 1rem !important;
      --val: 2.4vw !important;
      --max: 2.8125rem !important;
      text-transform: uppercase !important;
      font-family: "RobotoBold" !important;
    }
    footer.entry-footer.default-max-width {
      text-align: center !important;
    }
    .entry-footer {
      display: block !important;
      padding: 0rem 2rem !important;
    }
    .edit-link {
      padding: 0.5rem 3rem !important;
      border-radius: 3px !important;
    }
  }
}

@media screen and (min-width: 47rem) and (max-width: 64rem) and (orientation: portrait) {
  #register-container {
    .entry {
      margin: 6rem 4rem !important;
      min-height: 30vh !important;

      .entry-title {
        font-size: clamp(var(--min), var(--val), var(--max)) !important;
        --min: 1rem !important;
        --val: 4.3vw !important;
        --max: 3rem !important;
      }
      .entry-content {
        color: white !important;
        width: 100% !important;
        padding: 3rem !important;
        margin: 2rem !important;
        max-width: 90% !important;
        font-family: "RobotoBold" !important;
        border: 3px solid #be1b17 !important;
      }
    }
  }
}

@media screen and (max-width: 47rem) and (orientation: portrait) {
  #register-container {
    .entry {
      margin: 4rem 2rem !important;
      .entry-title {
        font-size: clamp(var(--min), var(--val), var(--max)) !important;
        --min: 1rem !important;
        --val: 8vw !important;
        --max: 3rem !important;
      }
      .entry-header {
        padding: 0rem 2rem !important;
      }
      .entry-content {
        color: white !important;
        width: 100% !important;
        padding: 3rem !important;
        margin: auto !important;
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
        max-width: 80% !important;
        font-family: "RobotoBold" !important;
        border: 3px solid #be1b17 !important;
      }
      .entry-footer {
        padding: 0rem 0rem !important;
      }
      .edit-link {
        padding: 0.5rem 1rem !important;
        border-radius: 3px !important;
      }
    }
  }
}
